@font-face {
  font-family: "unifont";
  src: url("../resource/unifont-16.0.03.otf") format("opentype");
}
@font-face {
  font-family: "mc7";
  src: url("../resource/Minecraft Seven_2.ttf") format("truetype");
}
p {
  font-family:"mc7","unifont";
}
a {
  font-family:"mc7","unifont";
}

body {
  background: #222;
  background-size: 400% 400%;
  min-height: 100vh;
  margin:0;
  padding: 0;
  /*animation: bg 30s ease infinite;*/
}
/*
@keyframes bg {
  0%{
    background-position: 0% 50%;
  }
  25%{
    background-position: 100% 30%;
  }
  50%{
    background-position: 50% 100%;
  }
  75%{
    background-position: 0% 70%;
  }
  100%{
    background-position: 0% 50%;
  }
}*/
#title_box {
  position: sticky;
  top: 0;
  z-index: 1000;
  background:#303030;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
#title_{
  text-align: center;
  font-size: 50px;
  color:azure;
  margin: 0;
}
#title_image {
  text-align: center;
  display:grid;
  place-items: center;
}
#title_img {
  vertical-align: middle;
  transform: scale(1.0);
}
.dl_buttom:link {
  display: inline-block;
  transition: transform 0.35s ease;
  color:azure;
  text-decoration: none;
  border-radius: 10px;
}
.dl_buttom:visited {
  display: inline-block;
  transition: transform 0.35s ease;
  color:beige;
} 
.dl_buttom:hover {
  display: inline-block;
  transition: transform 0.35s ease;
  color:aqua;
  text-decoration:double;
  transform: scale(1.05);
}
.dl_buttom:active {
  display: inline-block;
  transition: transform 0.35s ease;
  color:blue;
  transform: scale(1.35);
}
#main {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  flex-direction: column;
  align-items: center;
  gap:20px;
}
#dl_list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#dl_list li {
  margin: 15px 0;
}
.dl_buttom {
  
  background: rgba(48,48,48,0.8);
  border-radius: 8px;
  font-size: 18px;
  
}
.dl_div {
  background: #363636;
  border-radius: 10px;
  padding: 5px;
  width: 80%;
  text-align: center;
}
#download {
  background: linear-gradient(0deg, #f6037d, #9906a8, #6111c7, #2125f6);
  border-radius: 20px;
  max-width: 800px;
  width: 90%;
  min-height: 400px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  border: 3px solid #00006a;
  overflow: hidden;
}
#download-title {
  background: rgba(109, 106, 255, 0.3);
  width: 100%;
  padding:10px;
  margin: 0;
  font-size: 28px;
  font-weight: bold;
  color: white;
  border-radius: 17px 17px 0 0;
}
#download-text {
  width: 100%;
}
.doc-jump:visited {
    color:#7a80d6;
}
.doc-jump:hover {
    color:rgb(132, 0, 255);
}
.dl_content {
    color:white !important;
}

hr {
  margin:20px 0;
  border:1px solid #222;
  background-color: #222;
}

